.active1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../images/new-images/MANHOUSE (1).png");
  display: flex;
  min-height: 90vh;
  padding: 30px 72px;
  margin-bottom: 91px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  transition: background-image 2s ease-in-out;
}
.active2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../images/new-images/MANHOUSE (2).png");
  display: flex;
  min-height: 90vh;
  padding: 30px 72px;
  margin-bottom: 91px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  transition: background-image 2s ease-in-out;
}
.active3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../images/new-images/MANHOUSE (3).png");
  display: flex;
  min-height: 90vh;
  padding: 30px 72px;
  margin-bottom: 91px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  transition: background-image 2s ease-in-out;
}
.active4 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../images/new-images/NATURE3.png");
  display: flex;
  min-height: 90vh;
  padding: 30px 72px;
  margin-bottom: 91px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  transition: background-image 2s ease-in-out;
}
@media screen and (max-width: 900px) {
  .active1,
  .active2,
  .active3,
  .active4 {
    padding: 30px 20px;
    text-align: center;
  }
}
