@import '../resources';
.navBar {
  // position: fixed;
  background: $background;
  min-height: 9vh;
  transition: height 1s ease-in-out;
  overflow: hidden;
  height: 0;
  z-index: 50;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  @include mobile-1 {
    width: 100%;
  }
  @include mobile-5 {
    min-height: 10vh;
  }
  & .nav-menu {
    padding: 0px 20px;
    @include flex;
    align-items: center;
    @include mobile-1 {
      padding: 0px 20px;
      align-items: flex-start;
      & {
        flex-direction: column;
      }
    }
  }
  & .logo {
    width: 100px;
    padding-top: 6px;
    cursor: pointer;
    @include mobile-1 {
      & {
        width: 200px;
      }
    }
    @include mobile-3 {
      & {
        width: 95px;
      }
    }
    & .img1 {
      width: 100%;
    }
  }
  & .toggle-icon {
    width: 90%;
    position: absolute;
    top: 0%;
    cursor: pointer;
    display: none;
    color: #000;
    @include mobile-1 {
      & {
        display: initial;
      }
    }
    & .menu-icon {
      display: flex;
      justify-content: flex-end;
      padding: 1.5rem 0;
      @include mobile-3 {
        padding: 1rem 0;
      }
      & .drop-icon {
        font-size: 30px;
      }
    }
  }
  & .nav-list {
    padding: 15px 0;
    @include mobile-1 {
      width: 100%;
      & .nav-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
      }
    }
    & .list {
      padding-left: 30px;
      font-size: 16px;
      color: #717861;
      text-decoration: none;
      font-weight: 400;
      @include mobile-1 {
        padding-bottom: 50px;
        padding-left: 0;
      }
      &:hover {
        color: #2b3513;
      }
      &.active {
        color: #2b3513;
      }
    }
    button {
      margin-left: 30px;
      background: none;
      padding: 10px 30px;
      color: #2b3513;
      font-size: 16px;
      border: 1px solid #2b3513;
      border-radius: 8px;
      font-family: 'Roboto';
      cursor: pointer;
    }
  }
  &#light {
    background: $backgroundl;
    & .nav-list {
      & .list {
        color: $background;
        &:hover {
          color: $textcolor2;
        }
      }
    }
    & .toggle-icon {
      color: $background;
    }
  }
}
.collapse {
  @include mobile-1 {
    height: 90vh;
  }
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
